/*history*/
body {
    background: url(../img/bg1-opt.jpg) repeat-y;
    text-align: center;
    color: #fff;
}
.nGY2Navigationbar .oneItem {
    white-space: normal !important;
}
.nGY2 .nGY2GThumbnailAlbumTitle, .nGY2 .nGY2GThumbnailImageTitle {
    white-space: normal !important;
}